- provide(:title, "Edit user")
.row
  .col-md-6.col-md-offset-3
    %h2 设  置
    = form_for(@user) do |f|
      = render "shared/error_messages"
      .form-group
        = f.label :name, "用户名"
        = f.text_field :name, class: "form-control"
      .form-group
        = f.label :email, "邮箱"
        = f.text_field :email, class: "form-control"
      .form-group
        = f.label :password, "密码"
        = f.password_field :password, class: "form-control"
      .form-group
        = f.label :password_confirmation, "确认密码"
        = f.password_field :password_confirmation, class: "form-control"
      = f.submit "保存", class: "btn btn-lg btn-primary"
    = gravatar_for @user
    = link_to "修改", "http://gravatar.com/emails"


