- provide(:title, @user.name)
.row
  .col-md-4
    %section
      %h2
        = gravatar_for @user
        = @user.name
      = @user.email
  .col-md-8
    - if @user.microposts.any?
      %h3
        微博
        = @user.microposts.count
      %ol.microposts
        = render @microposts
      = will_paginate @microposts
