!!!
%html(lang="zh_CN")
  %head
    %meta(name = "viewport" content = "width=device-width, initial-scale" )
    %title
      -# old method replace with application_helper.rb
      -#- if yield(:title).length > 0
      -#  = "#{yield(:title)} | SampleApp"
      -#- else
      -#  = "SampleApp"
      = full_title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    /[if lt IE 9]
      %script(src = "http://html5shim.googlecode.com/svn/trunk/html5.js")
  %body
    .navbar.navbar-inverse.navbar-fixed-top(role = "navigation")
      .container
        .navbar-header
          = link_to "sample app", '#', id:"logo", class:"navbar-brand"
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_to "主页", '#', class:"active"
            %li= link_to "帮助", '#'
            %li= link_to "登录", '#'
    .container(role = "main")
      .jumbotron
        = yield
    .footer
      .container
        = link_to "注册", '#', class: "btn btn-large btn-primary"
        = link_to image_tag("rails.png", alt: "Rails" ,class: "img-rounded"),'http://railstutorial.org/', class: "text-left"
