!!!
%html(lang="zh_CN")
  %head
    %meta(name = "viewport" content = "width=device-width, initial-scale" )
    %title
      -# old method replace with application_helper.rb
      -#- if yield(:title).length > 0
      -#  = "#{yield(:title)} | SampleApp"
      -#- else
      -#  = "SampleApp"
      = full_title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    .navbar.navbar-inverse.navbar-fixed-top(role = "navigation")
      .container
        .navbar-header
          = link_to "YYO", '/', id:"logo", class:"navbar-brand"
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_to "主页", '/', class:"active"
            %li= link_to "帮助", help_path
            %li= link_to "关于", contact_path
          %ul.nav.navbar-nav.navbar-right
            - if signed_in?
              %li= link_to "用户", '#'
              %li.dropdown#fat-menu
                %a(href="#" class="dropdown-toggle" data-toggle="dropdown")
                  账户
                  %b.caret
                %ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu3")
                  %li= link_to "个人", current_user
                  %li= link_to "设置", "#"
                  %li.divider
                  %li= link_to "登出", signout_path, method: "delete"
            - else
              %li= link_to "登录", signin_path
              %li= link_to "注册", signup_path, class: "btn btn-info"
    .container(role = "main")
      .jumbotron
        - flash.each do |key,value|
          = content_tag(:div, value, class: "alert alert-#{key}")
          -# without method content_tag
          -#%div(class = "alert alert-#{key}")= value
        = yield

      .footer
        .container
          -#= link_to image_tag("rails.png", alt: "Rails" ,class: "img-responsive img-rounded"),'http://railstutorial.org/', class: "text-left"
          = debug(params) if Rails.env.development?
